/* You can add global styles to this file, and also import other style files */
.fondoa {
    background: #000 url('./assets/img/background.png') no-repeat center top;
    background-size: cover;
    min-height: 1000px;
    position: relative;
}
.footerra {
    /*height: 15%;*/
    min-height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.irudia {
    max-width: 100%;
    max-height: 100%;
}
.navbar-collapse {
    text-align: center;
}
